.userContainer {
    position: relative;
}

.userImg {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid #dfdfdf;
    cursor: pointer;
}

.tippyWrapper {
    position: absolute;
    top: 120%;
    right: 0;
    width: 275px;
}

.userDetail {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.userDetail img {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid #dfdfdf;
}

.userInfo h2 {
    font-weight: 500;
    margin-bottom: 6px;
}

.userInfo p {
    font-size: 1.4rem;
}

.optionList {
    margin-top: 18px;
}

.optionBlock {
    padding: 8px 0;
    border-top: 1px solid #eeeeee;

    &:last-child {
        padding-bottom: 0;
    }
}

.optionItem {
    font-size: 1.4rem;
    color: #5f5f5f;
    padding: 10px 0;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }

}