.scrollBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 100%;
    border: none;
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    background-color: #fafafa;
    box-shadow: 0 0 8px #a0a0a0;
    cursor: pointer;
    transition: all 0.3s;
    transform: translateY(20px);
    opacity: 1;

    &:hover {
        background-color: #dddddd;
        scale: 1.1;
    }
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.hide {
    opacity: 0;
}