.wrapper {
    display: flex;
    align-items: center;
    color: #333333;
    padding: 16px 0px;
    cursor: pointer;
}

.wrapper p {
    font-size: 1.4rem;
    font-weight: 500;
}

.dropdown {
    margin-left: 6px;
    font-size: 1.4rem;
}