.container {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    align-items: center;
}

.imgBlock {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 16px;
}

.img {
    width: 100%;
}

.slogan {
    font-weight: 700;
    font-size: 1.4rem;
}
