:root {
    --text-color: black;
    --primary-color: #ff8b25;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}